In [7]:
#string formatter like c language , for int it will be %d
var1='sunday'
var2='monday'
text=("%d . %s comes before %s")%(1,var1,var2)
print(text)

1 . sunday comes before monday

In [2]:
#we can not put double cote under double cote 
hi="hello world"bye"" #this is wrong
print(hi)

SyntaxError: invalid syntax (<ipython-input-2-694ff532a8c3>, line 1)

In [3]:
hi='hello world"bye"' #this is right,we can write double cote under single cote
print(hi)

hello world"bye"

In [4]:
hi="we've to say bye"
print(hi)

we've to say bye

In [5]:
sentence='''"hi!Everyone"'''
print(sentence)

"hi!Everyone"

In [6]:
#for multiple line we have to give it within a brackate like this
sentence=('''"hi!Everyone"
              "bye ."''')
print(sentence)

"hi!Everyone"
              "bye ."

In [16]:
#String slicing
s='hello everyone'
print(s)
print(s[0])
print(s[0:4])
print(s[2:8])    #if n=8 so it will print upto n-1 , in case of these it starts from position 2 and prints upto 8-1=7 position
print(s[2:10])
print(s[2:len(s)])
print(s[:len(s)])

hello everyone
h
hell
llo ev
llo ever
llo everyone
hello everyone

In [19]:
s2="Hi!"+s[6:len(s)]
print(s2)

Hi!everyone

In [20]:
word='orange'    # it compares ascii character value i.e o comes after a(apple)
if word<'apple':
    print(word+'comes before apple')
elif word>'apple':
    print(word+'comes after apple')
else:
    print('same word'+word)

orangecomes after apple

In [21]:
word='Orange'    # it compares ascii character value i.e caps 'O' comes before 'a'(apple) #python differentiate between upper and lower case
if word<'apple':
    print(word+'comes before apple')
elif word>'apple':
    print(word+'comes after apple')
else:
    print('same word'+word)

Orangecomes before apple

In [ ]:
###########################----------------List--------------------############################################################

In [ ]:
'''List:
       mutuable
       ordered
       can be object
       elements within list can be accessed using index , ex=List[0]
       
'''

In [22]:
1.#List
numbers=[10,20,30,40,50]
print(numbers)
print(type(numbers))

[10, 20, 30, 40, 50]
<class 'list'>

In [23]:
#2.List
empty=[]
print(empty)

[]

In [26]:
empty.append([200,89]) #append only insert one value at a time like 200 or [200,89]
print(empty)

[200, [200, 89], [200, 89]]

print(empty[1:2])

In [29]:
print(empty[1][1]) #print the 2nd element of inner list ie 89

89

In [30]:
#3.
numbers=[10,20,30,40,50] 
print(numbers[0:3])          #print upto n-1 i.e 3-1=2

[10, 20, 30]

In [3]:
#4.
food=["sandwich","pizza","burger"]
print(food)

['sandwich', 'pizza', 'burger']

In [5]:
x=food[0] #sandwitch
print(x[0:4]) #slicing of sandwich

sand

In [6]:
#List are mutable
food.append("samosa")
print(food)

['sandwich', 'pizza', 'burger', 'samosa']

In [7]:
food[0]="chawmin" #lists are mutable because we can change its value
print(food)

['chawmin', 'pizza', 'burger', 'samosa']

In [8]:
print(food[-3]) #it prints from the end i.e -1,-2.....like this

pizza

In [9]:
#if we want to insert within a list so we have to use a function called insert()
food.insert(2,"Dhosa")

In [10]:
print(food)

['chawmin', 'pizza', 'Dhosa', 'burger', 'samosa']

In [17]:
#remove elements from list

print(len(food))
food.remove('pizza')  #remove function require a value or we can write like this "food.remove(food[0])" 
print(food)
print(len(food))

4
['chawmin', 'Dhosa', 'burger']
3

In [18]:
#delete by numbers or delete the whole list
del food[2]   #its an operator and it deletes position 2 value from list
print(food)

['chawmin', 'Dhosa']

In [19]:
del food[0:1]
print(food)

['Dhosa']

In [ ]:
#5. accept numbers from user till the user enters "done"
# enter a number :8
# enter a number :done(then only it breaks)
# find out and print: max ,min,avg , sum ,count

In [ ]:
count=1
while True:
    ip=input("Enter a number:")
    if(ip=='done'):
        break
    else:
        number=int(number)
        MyList.append(number)
    count=count+1
print (count)
print(len(MyList))
print(min(MyList))
print(max(MyList))
print(sum(MyList))

Enter a number:67
Enter a number:78 78
Enter a number:780
Enter a number:89
Enter a number:done
5

In [5]:
count=1
MyList=[]
while True:
    ip=input("Enter a number:")
    if(ip=='done'):
        break
    else:
        ip=int(ip)
        MyList.append(ip)
if len(MyList)>0:
    print(len(MyList))
    print(min(MyList))
    print(max(MyList))
    print(sum(MyList))
    print(sum(MyList)/len(MyList))
    
        ##this is  right

Enter a number:done

In [6]:
#delimeter

t=['my','our','bye'] #note:we can not intsert a int value here , only string accepcted
print(t)

['my', 'our', 'bye']

In [7]:
delimeter=','
delimeter.join(t)

'my,our,bye'

In [9]:
t1=[1,2]
t1.append(3)
print(t1)

[1, 2, 3]

In [11]:
t2=t1+[4] #same as append but it just create new list , not add in old list
print(t1)
print(t2)

[1, 2, 3]
[1, 2, 3, 4]

In [12]:
t2=t1+[4] #it just create new list , not add in old list
t3=t1+[4]
print(t1)
print(t2)
print(t3)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [13]:
t2 is t3 #retrn false because their id's are different i.e memory adress

False

In [14]:
t2==t3 # returns true because it looks up for content of list

True

In [15]:
print(t1[:]) #by default it prints entire list

[1, 2, 3]

In [16]:
t1*2 #it prints doubles the list value

[1, 2, 3, 1, 2, 3]

In [18]:
food=['Upma','Pizza','idli']

print(min(food)) #it will depends on the ascii value , here ascii value of p is minimum
print(max(food))

Pizza
idli

In [20]:
food[1:4]=[9,8] #it replaces list value
print(food)

['Upma', 9, 8]

In [22]:
food.pop() #only removes the element from last of list
print(food)

['Upma']

In [23]:
food.pop(0) #we can pass the position of the list in pop function as well , then that position value will be removed.
print(food)

[]

In [27]:
#new list

food=['a','b','c']
food.extend(['d','e']) #extend will extend the list value in last
print(food)


food1=['a','b','c']
food1.append(['d','e']) #append will append only one argument in last
print(food1)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', ['d', 'e']]

In [ ]:
######---------------------------------Tuples------------------------------------------------------------######

In [ ]:
'''
Tuple:
    Immutable
    Similar to list
    use () instead of []

'''

In [28]:
#Tuples

t=('foo','yoo','bye')
print(t)

('foo', 'yoo', 'bye')

In [29]:
t[-1]

'bye'

In [31]:
t[1:3]

('yoo', 'bye')

t[::-1]

In [32]:
t[::-1] #it will print reverse order of list

('bye', 'yoo', 'foo')

In [33]:
t[::-2] #it skips every 2nd value position

('bye', 'foo')

In [34]:
#program
a='foo'
b=42
pi=3.14
a,pi,b    #it will print as tuple

('foo', 3.14, 42)

In [35]:
t2=(a,pi,b)
print(t2)

('foo', 3.14, 42)

In [36]:
empty=()
print(empty)

()

In [37]:
r1,r2,r3=t #tuple destructuring
print(r1)
print(r2)
print(r3)

foo
yoo
bye

In [38]:
t3=(5,7,9,8,3)
print(t3)
r1,r2,r3=t3     #t3 has 5 value but we destuctured only 3  value like r1,r2,r3 that's why it will throw error
print(r1)

(5, 7, 9, 8, 3)

ValueError: too many values to unpack (expected 3)

In [40]:
x1,x2,x3=1,2,3
print(x1)
print(x2)

1
2

In [41]:
a,b='foo','bar'
print(a)
print(b)

foo
bar

In [42]:
#swap two value
temp=a
a=b
b=temp
print(a)
print(b)

bar
foo

In [44]:
#magic code
a,b='foo','bar'
print(a)
print(b)
print('-----After swapping----')
a,b=b,a
print(a)
print(b)

foo
bar
-----After swapping----
bar
foo

In [ ]:
#######---------------------------Dictonary-------------------------------------#######

In [ ]:
'''
Dictonary:
        {} used
        mutable
        key-value pair
        {'name':'aja','city':kolkata}
        {'name':'aja' ,'devices':['a','b','c']}
'''

In [46]:
#Empty Dictonary

ed=dict()
print(ed)
print(type(ed))

{}
<class 'dict'>

In [47]:
#Enter value in List
ed['one']='one'
ed['two']=2
print(ed)

{'one': 'one', 'two': 2}

In [ ]:
ed[0] # this will not wwork , write like ed['one '] this

In [48]:
2 in ed #output = False , because 2 is value . if key is in dictionary than only it will be True

False

In [50]:
'two' in ed #output= True

True

In [51]:
#how to check for values
'one' in ed.values()   #output=True , this value(0 function will check for values)

True

In [53]:
#another way to check for values
values=list(ed.values())
print(values)
'one' in values

['one', 2]

True

In [56]:
print(ed)
ed.pop('two')  #removes elemnts from list , you have to insert key value as a argument
print(ed)

{'one': 'one', 'two': 2}
{'one': 'one'}

In [57]:
ed={'one': 'one', 'two': 2,'three':'bye','four':'hello','five':'hi'}

In [58]:
ed.popitem()  #it removes last key value pair from dictonary
print(ed)

{'one': 'one', 'two': 2, 'three': 'bye', 'four': 'hello'}

In [59]:
del ed['two']
print(ed)

{'one': 'one', 'three': 'bye', 'four': 'hello'}

In [60]:
ed.clear()
print(ed)

{}

In [64]:
ed={'one': 'one', 'two': 2,'three':'bye','four':'hello','five':'hi'}
ed.get('one')

'one'

In [66]:
ed.get('ten',10) #it will be 10 as output

10

In [68]:
ed1={'key1': 'apple', 'key2': 'mango'} #it copies the dict value of ed1 to ed2
ed2=ed1.copy()
print(ed1)
print(ed2)

{'key1': 'apple', 'key2': 'mango'}
{'key1': 'apple', 'key2': 'mango'}

In [69]:
list=[1,2,3,4]
for num in list:
    print(num)

1
2
3
4

In [71]:
#each key value pair willl consider as tuple
ed1.items()

dict_items([('key1', 'apple'), ('key2', 'mango')])

In [70]:
#iterating through list 
for item in ed1.items():  #each key-value pair will be a tuple 
    print(item)

('key1', 'apple')
('key2', 'mango')

In [80]:
print(sorted(ed1.keys()))

['key1', 'key2']

In [79]:
print(sorted(ed1.values()))

['apple', 'mango']

In [ ]:
#######-----------------------------------Set-----------------------------------------#####

In [ ]:
'''
Set:
   unordered
   elements are unique
   
'''

In [81]:
x=set(['foo','bar','baz','foo'])  #it removes duplicate
print(x)

{'baz', 'bar', 'foo'}

In [82]:
x

{'bar', 'baz', 'foo'}

In [83]:
s='quux' #it removes the duplicate value 'u'
set(s)

{'q', 'u', 'x'}

In [84]:
x={'q','u','p','o'}
x

{'o', 'p', 'q', 'u'}

In [91]:
# every element of a set must be immutable of type
x={47,'jk',7.9 , True ,None,(8,9)}
x

{(8, 9), 47, 7.9, None, True, 'jk'}

In [92]:
#but it will throw error beacuse tuple are immutable here

x={47,'jk',7.9 , True ,None,(8,9),[9,9]}
x

TypeError: unhashable type: 'list'

In [93]:
#union operation at set
x1={'hello','hi'}
x2={'ok','bye'}
x3=x1.union(x2)
print(x3)

{'hi', 'ok', 'hello', 'bye'}

In [94]:
x1 | x2

{'bye', 'hello', 'hi', 'ok'}

In [95]:
x1 & x2

set()

In [96]:
x1.intersection(x2)

set()

In [98]:
x1={'hello','hi','ok'}
x2={'ok','bye'}
x1-x2

{'hello', 'hi'}

In [100]:
x1={'hello','hi','ok'} #check values  x1 and whichever value presents in x2 than do not value
x2={'ok','bye'}
x3=x1.difference(x2)
print(x3)

{'hi', 'hello'}

In [101]:
x1.issubset(x2)

False

In [104]:
x1.update(['bx','gh'])
print(x1)

{'ok', 'hello', 'hi', 'bx', 'gh'}

In [110]:
x1.discard('hi')
print(x1)

{'ok', 'hello', 'bx', 'gh'}

In [111]:
print(x1)
x1.pop() #pop random element from set
print(x1)

{'ok', 'hello', 'bx', 'gh'}
{'hello', 'bx', 'gh'}

In [112]:
x1.pop()

'hello'

In [113]:
x1.add('io')

In [ ]:
# diff between set and frozen set
#frozen set
#only perform non-modifying operations on frozen set

In [114]:
x= frozenset(['foo','bar','baz'])
print(len(x))

3

In [115]:
x & {'bar','ki'}

frozenset({'bar'})

In [ ]:
x.add('lo') #not possible in frozen set
x.pop()#not possible in frozen set